.home .header {
  margin-bottom: 20px;
}
.home .commonData .body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home .commonData .body .commonDataItem {
  border-right: 1px solid #eee;
  text-align: center;
  font-size: 28px;
}
.home .commonData .body .commonDataItem:last-child {
  border-right: none;
}
.home .commonData .body .commonDataItem h3 {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 0.1em;
}
.home .commonData .body .commonDataItem span {
  font-size: 0.5em;
  color: #999;
}
